{% extends "layout.html" %}
{% block body %}
<h2 class="form-signin-heading">Please log in</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <form action="{{ url_for('login') }}" method=post class="form-signin">
        <dl>
		<dt><label class="sr-only" for="inputName">User Name</label>
		<dd><input id="inputName" type=text name=username class="form-control" placeholder="User Name">
		<dt><label class="sr-only" for="inputPassword">Password</label>
		<dd><input id="inputPassword" type=password name=password class="form-control" placeholder="Password">
		<dd><button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
	</dl>
        </form>
{% endblock %}
