{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{url_for('add_entry')}}" method=post class=add-entry>
			<dl>
				<dt>Text:
				<dd><textarea name="text" cols="40" rows="5"></textarea>
				<dt>Text Color:
				<dd><select name="color">
					<option value="white" selected="">White</option>
					<option value="black">Black</option>
					<option value="red">Red</option>
					<option value="green">Green</option>
					<option value="blue">Blue</option>
				</select>
				<dt>Background Color:
				<dd><select name="background">
					<option value="white">White</option>
					<option value="black" selected="">Black</option>
					<option value="red">Red</option>
					<option value="green">Green</option>
					<option value="blue">Blue</option>
				</select>
				<dt>Draw Image:
				<dd><select name="showImage">
					<option value="miku" selected="">Miku</option>
				</select>
				<dd><input type=submit value=Share>
			</dl>
		</form>
	{% endif %}
	<ul class=entries>
		{% for entry in entries %}
		<li>{{entry.text|safe}}
		{% else %}
		<li><em>Unbelievable. No entries here so far</em>
		{% endfor %}
	</ul>
{% endblock %}
